In [127]:
import csv
import pandas as pd
import numpy as np
import datetime as dt

In [128]:
# Combine csv files for January 2019 to June 2020

# 2020 Trip Histories Data
trip_2019_01 = pd.read_csv("Resources/JC-201901-citibike-tripdata.csv")
trip_2019_02 = pd.read_csv("Resources/JC-201902-citibike-tripdata.csv")
trip_2019_03 = pd.read_csv("Resources/JC-201903-citibike-tripdata.csv")
trip_2019_04 = pd.read_csv("Resources/JC-201904-citibike-tripdata.csv")
trip_2019_05 = pd.read_csv("Resources/JC-201905-citibike-tripdata.csv")
trip_2019_06 = pd.read_csv("Resources/JC-201906-citibike-tripdata.csv")
trip_2019_07 = pd.read_csv("Resources/JC-201907-citibike-tripdata.csv")
trip_2019_08 = pd.read_csv("Resources/JC-201908-citibike-tripdata.csv")
trip_2019_09 = pd.read_csv("Resources/JC-201909-citibike-tripdata.csv")
trip_2019_10 = pd.read_csv("Resources/JC-201910-citibike-tripdata.csv")
trip_2019_11 = pd.read_csv("Resources/JC-201911-citibike-tripdata.csv")
trip_2019_12 = pd.read_csv("Resources/JC-201912-citibike-tripdata.csv")
trip_2020_01 = pd.read_csv("Resources/JC-202001-citibike-tripdata.csv")
trip_2020_02 = pd.read_csv("Resources/JC-202002-citibike-tripdata.csv")
trip_2020_03 = pd.read_csv("Resources/JC-202003-citibike-tripdata.csv")
trip_2020_04 = pd.read_csv("Resources/JC-202004-citibike-tripdata.csv")
trip_2020_05 = pd.read_csv("Resources/JC-202005-citibike-tripdata.csv")
trip_2020_06 = pd.read_csv("Resources/JC-202006-citibike-tripdata.csv")

Ride_2019_04_06 = pd.read_csv("Resources/DailyRideMbr-2019-Apr-Jun.csv")



# 2019 Trip Histories Data
# trip_2019_04 = pd.read_csv("Resources/JC-201904-citibike-tripdata.csv")
# trip_2019_05 = pd.read_csv("Resources/JC-201905-citibike-tripdata.csv")
# trip_2019_06 = pd.read_csv("Resources/JC-201906-citibike-tripdata.csv")

In [129]:
# Concatenate all csv files (Jan 2019 to June 2020)
all_qtr = pd.concat([trip_2019_01,trip_2019_02,trip_2019_03,trip_2019_04,trip_2019_05,trip_2019_06,trip_2019_07,trip_2019_08,trip_2019_09,
trip_2019_10,trip_2019_11,trip_2019_12,trip_2020_01,trip_2020_02,trip_2020_03,trip_2020_04,trip_2020_05,trip_2020_06])

In [130]:
# Replace gender: 0 = Unknown; 1= Male; 2= Female
all_qtr.gender = all_qtr.gender.replace(0 ,'Unknown').replace(1 ,'Male').replace(2 ,'Female')

In [131]:
# View last 20 records
all_qtr.tail(20)
#Ride_2019_04_06

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
36901,556,2020-06-30 23:17:24.8520,2020-06-30 23:26:41.7610,3225,Baldwin at Montgomery,40.723659,-74.064194,3193,Lincoln Park,40.724605,-74.078406,42431,Customer,1985,Male
36902,72,2020-06-30 23:19:35.5090,2020-06-30 23:20:47.9420,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,44237,Subscriber,1984,Male
36903,638,2020-06-30 23:22:13.8470,2020-06-30 23:32:52.4130,3198,Heights Elevator,40.748716,-74.040443,3212,Christ Hospital,40.734786,-74.050444,40910,Customer,1991,Male
36904,80,2020-06-30 23:24:35.5970,2020-06-30 23:25:55.9700,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,20748,Subscriber,1984,Male
36905,1450,2020-06-30 23:25:33.9020,2020-06-30 23:49:44.7330,3193,Lincoln Park,40.724605,-74.078406,3679,Bergen Ave,40.722104,-74.071455,33738,Subscriber,1978,Male
36906,510,2020-06-30 23:31:09.4820,2020-06-30 23:39:40.0510,3203,Hamilton Park,40.727596,-74.044247,3209,Brunswick St,40.724176,-74.050656,40436,Subscriber,1984,Male
36907,1718,2020-06-30 23:36:25.8060,2020-07-01 00:05:04.0370,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3203,Hamilton Park,40.727596,-74.044247,41498,Subscriber,1988,Male
36908,316,2020-06-30 23:39:33.3650,2020-06-30 23:44:50.1430,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,44543,Subscriber,1993,Male
36909,638,2020-06-30 23:39:37.2800,2020-06-30 23:50:15.3210,3639,Harborside,40.719252,-74.034234,3213,Van Vorst Park,40.718489,-74.047727,42195,Customer,1969,Unknown
36910,329,2020-06-30 23:39:42.5930,2020-06-30 23:45:11.9780,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42291,Customer,1969,Unknown
36911,296,2020-06-30 23:39:56.0080,2020-06-30 23:44:52.8850,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42490,Customer,1969,Unknown
36912,617,2020-06-30 23:39:58.2410,2020-06-30 23:50:15.2540,3639,Harborside,40.719252,-74.034234,3213,Van Vorst Park,40.718489,-74.047727,42310,Customer,1986,Male
36913,276,2020-06-30 23:40:45.3640,2020-06-30 23:45:21.6480,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42480,Customer,1969,Unknown
36914,4197,2020-06-30 23:48:48.1120,2020-07-01 00:58:45.9430,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,44421,Customer,1988,Female
36915,298,2020-06-30 23:50:53.1270,2020-06-30 23:55:51.6200,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3185,City Hall,40.717733,-74.043845,42583,Customer,1969,Unknown
36916,2828,2020-06-30 23:53:19.7380,2020-07-01 00:40:28.5760,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,Unknown
36917,2729,2020-06-30 23:54:44.0100,2020-07-01 00:40:13.6470,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,Unknown
36918,2788,2020-06-30 23:54:52.1920,2020-07-01 00:41:20.6500,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,Unknown
36919,2702,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,Unknown
36920,2649,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,Female

In [132]:
# Make a copy of histories df
history_df = all_qtr.copy()

history_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [133]:
# Format Start Time
history_df['Date'] = pd.to_datetime(history_df['starttime'])
history_df['Date'] = history_df['Date'].dt.date
history_df['Date'] = pd.to_datetime(history_df['Date'])
history_df['Date'] = history_df['Date'].dt.strftime('%m/%d/%Y')

In [134]:
# Drop startime & stoptime column
history_df.drop(['starttime'], axis=1, inplace=True)
history_df.drop(['stoptime'], axis=1, inplace=True)


history_df

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Date
0,201,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,01/01/2019
1,505,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,01/01/2019
2,756,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,01/01/2019
3,1575,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,01/01/2019
4,1566,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,01/01/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36916,2828,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,Unknown,06/30/2020
36917,2729,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,Unknown,06/30/2020
36918,2788,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,Unknown,06/30/2020
36919,2702,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,Unknown,06/30/2020
36920,2649,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,Female,06/30/2020

In [139]:
x=history_df.groupby('Date')['bikeid'].nunique()
x

Date
01/01/2019    194
01/01/2020    159
01/02/2019    268
01/02/2020    307
01/03/2019    268
             ...
12/27/2019    263
12/28/2019    230
12/29/2019    164
12/30/2019    168
12/31/2019    259
Name: bikeid, Length: 547, dtype: int64

In [117]:
Ride_2019_04_06['Date'] = pd.to_datetime(Ride_2019_04_06['Date'])
Ride_2019_04_06['Date'] = Ride_2019_04_06['Date'].dt.strftime('%m/%d/%Y')

Ride_2019_04_06.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),Column 1
0,04/01/2019,51399,75072,303223,1466,76,undefined
1,04/02/2019,57903,83399,303386,1483,73,undefined
2,04/03/2019,67924,108780,303552,3013,79,undefined
3,04/04/2019,66403,104268,303699,2633,87,undefined
4,04/05/2019,34470,46930,303766,812,46,undefined

In [119]:
merged_df = Ride_2019_04_06.merge(history_df, on='Date')
merged_df

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),Column 1,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,04/01/2019,51399,75072,303223,1466,76,undefined,107,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,Male
1,04/01/2019,51399,75072,303223,1466,76,undefined,493,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,Male
2,04/01/2019,51399,75072,303223,1466,76,undefined,512,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,Female
3,04/01/2019,51399,75072,303223,1466,76,undefined,196,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,Male
4,04/01/2019,51399,75072,303223,1466,76,undefined,463,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82470,06/10/2019,37019,54769,316007,1566,44,undefined,293,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29266,Subscriber,1986,Female
82471,06/10/2019,37019,54769,316007,1566,44,undefined,259,3272,Jersey & 3rd,40.723332,-74.045953,3203,Hamilton Park,40.727596,-74.044247,26233,Subscriber,1989,Female
82472,06/10/2019,37019,54769,316007,1566,44,undefined,187,3272,Jersey & 3rd,40.723332,-74.045953,3203,Hamilton Park,40.727596,-74.044247,29210,Subscriber,1969,Unknown
82473,06/10/2019,37019,54769,316007,1566,44,undefined,166,3272,Jersey & 3rd,40.723332,-74.045953,3203,Hamilton Park,40.727596,-74.044247,29594,Subscriber,1988,Male
82474,06/10/2019,37019,54769,316007,1566,44,undefined,265,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26266,Subscriber,1989,Male

In [ ]:
# Export dataframe "all_qtr" to csv file
all_qtr.to_csv (r'Citi_Bike_Data.csv', index = False, header=True)

In [120]:
# Export dataframe "merged_df" to csv file
merged_df.to_csv (r'Ride.csv', index = False, header=True)